body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/* Navbar styles */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #ff5733;
    /* Example color */
    font-size: 2rem;
    /* Example size */
}

.nav-link {
    color: #222222 !important;
}

.navbar-collapse {
    background-color: white;
}

/* Footer styles */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.footer-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* card styles */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0rem !important;
}

.card-text p {
    font-weight: 1000 !important;
    text-decoration: none !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* .btn {
    background-color: #ff5733 !important;
    border: none !important;
} */

/* Show page */
.show-img {
    height: 40vh;
}

.btn-1del {
    background-color: #222222 !important;
}


/* Map styling */
#map {
    height: 400px;
    width: 60vh;
}

/* Navbar */
  
.filter-collection-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.filter-collection {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap;
  scroll-behavior: smooth;
  width: 90%;
  margin: 0 32px;
  padding: 10px 0;
}

.filter-collection::-webkit-scrollbar {
  display: none;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 18px;
  min-width: 70px;
  opacity: 0.7;
}
.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 5px 10px;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  border-radius: 50%;
  color: #000000;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}





.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    width: fit-content;
}


.tax-info {
   display: none; 
}

.btn-search {
    background-color: #ff5733;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover {
    background-color: #ff5733;
    color: #fff;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 0.9rem;
  }
